*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
}

.input{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

input{
    height: 60px;
    width: 100px;
}

.content{
    display: flex;
    margin: 0 10%;
    margin-top: 100px;
    gap: 20px;
    height: 200px;
}
.text{
    flex: 1;
}
.box1{
    flex: 1;
    display:flex ;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: capitalize;
}

.box2{
    flex: 1;
    display:flex ;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: capitalize;
}